@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.top {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #eee;
    /* box-shadow: .4rem .4rem 1rem #111 inset,
    -.4rem -.4rem 1rem #333 inset; */
    justify-content: space-between;

}

.top1 {
    position: relative;
    /* border: 1px solid red; */
    /* justify-content: center; */
    display: flex;
    align-items: center;
    /* margin-left: 32px; */
    left: 10%;
    font-size: 13px;
    font-weight: 500;
}

.top1 p {
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600;
    color: #666;
}

.top2 {
    position: relative;
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    align-items: center;
    right: 23%;
    font-size: 13px;
    font-weight: 500;
}

.top2 p {
    margin-left: 12px;
    cursor: pointer;
    font-weight: 600;
    color: #666;
}

.top3 {
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    right: 17%;
}

.top3 p {
    font-weight: 200;
}

.top3 button {
    display: block;
    align-items: center;
    background-color: white;
    width: 73px;
    height: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 300;
    color: #666;
    border: none;
}

.top3 button ul {
    display: none;
    text-decoration: none;
    list-style: none;
    height: 63px;
    background-color: white;
    padding: 2px;
}

.top3 button ul li {
    /* display: none; */

    text-decoration: none;
    list-style: none;
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: row; */
    /* margin-top: 7px; */
}

.top3 button ul:hover {
    display: block;
    /* background-color: brown; */
    /* text-decoration: none;
    list-style: none;
    height: 53px;
    background-color: white; */
    /* border: 1px solid; */
}

nav {
    display: flex;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    /* background: #1b1b1b; */
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    border-bottom: 0.1rem solid rgba(0, 0, 0, .2);
    flex-wrap: wrap;
}

nav .logo {
 
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo img{
    height: 50px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #ffffff;
    margin-right: 30px;
}

nav ul li {
    /* float: left; */
    display: flex;
    justify-content: center;
    /* margin-top: 23px; */
    align-items: center;

}

nav ul li a {
    /* color: #f2f2f2; */
    text-decoration: none;
    font-size: 12px;
    color: #666;
    
    font-weight: 300;
    margin-right: 36px;
    padding: 4px 8px;
    letter-spacing: 1px;
    border-radius: 5px;
    /* transition: all 0.3s ease; */
}

.donatebtn {
    display: flex;
    /* margin-top: 23px; */
    /* margin-bottom: 23px; */
    justify-content: center;
    align-items: center;
    border: #0d6efd;
    background-color: #0D6Db7;
    /* padding: 10px; */
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    /* height: 33px; */
    padding-top: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    /* width: 40px; */
    /* margin-bottom: 23px; */
    color: aliceblue;
}

nav ul li a.active,
nav ul li a:hover {
    /* /* color: #0d6db7; */
    /* transition:  color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */
    /* color: rgba(0,0,0,.85); */
    overflow-wrap: break-word;

    /* background: #fff; */
}

nav .menu-btn i {
    /* color: #fff; */
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}


/* mid section */
.mid-section {
    padding: 10px;
    margin-top: 33px;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    /* position: absolute; */
    align-items: center;
    background-image: url(./back.png);
    /* border: 1px solid red; */
}
.left-section {
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    flex-direction: column;

}
.heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
}
.heading h1 {

    font-weight: 800;
    font-size: 38px;
    /* letter-spacing: 1px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sub-heading {
    margin-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    /* font-size: 18px; */
    letter-spacing: 1px;
    padding: 5px;
    /* border: 1px solid red; */
}
.sub-heading h3{
    font-size: 23px;
}
.heading .color_theme_green {
    color: #8dc63f;
}
.paragraph {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    /* width: 50%; */
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.paragraph p {
    color: rgba(0, 0, 0, .85);
    font-size: 17px;
}
.readmore-btn {
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding: 5px;
    /* border: 1px solid red; */
}
.readmore-btn button {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none;
    /* width: 45px; */
    background: none;
    border: 1px solid;
    border-radius: 8px;
    color: #666;
}
.readmore-btn i {
    margin-left: 14px;
}

.right-section {
    /* width: 45%; */
    align-items: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    flex-direction: column;
}
.side-img {
    /* border: 1px solid rebeccapurple; */
    justify-content: left;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
}
.side-img img {
    height: 400px;
}
/* mid section 2 */
.mid-2 {
    padding: 10px;
    margin-top: 10px;
    /* border: 1px solid rgb(0, 17, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
}
.mid-2-top1{
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(182,239,73,.2);
    /* border: 1px solid rgb(255, 123, 0); */
    display: flex;
    padding-top: 23px;
    border-radius: 8px;
    padding-bottom: 23px;
}
.headingss h1{
    font-size: 25px;
}
.headingss h5{
    color: #0d6efd;
    font-size: 17px;
}
.mid-2-btns{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0px 0px 0px;
}
.mid-2-btns button{
    padding: 16px 24px;
    /* gap: 34px; */
    margin-left: 8px;
    border: none;
    outline: none;
    background:#ffffff;
    border-radius: 5px;
}
.donate{
    background-color: #8dc63f !important;
    color: #ffffff;

}
.back{
    background-color: #424242 !important;
    color: #ffffff;
}


.mid-2-top2{
    /* width: 95%; */
    margin-top: 23px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid rgb(255, 0, 179); */
    display: flex;
    flex-direction: column;
}
.mid-2-tops-img{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-2-top2 img{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.heading-mid{
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
}
.heading-mid h1{
    font-size: 35px;
    letter-spacing: 1px;
}
.servies{
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.serviesbox{
    background-color: rgba(182,239,73,.2);
    border-radius: 10px;
    color: #424242;
    width: 14%;
    cursor: default;
    margin-right: 23px;
    margin-top: 40px;
    padding: 30px;
    text-align: center;
}
.serviesicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
/* .serviesicon img{
    width: 100%;
} */

.serviestext{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeon{
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.threeone{
    /* border: 1px solid red; */
    cursor: pointer;
    margin-right: 11px;

    height: 300px;
    margin-bottom: 10px;
    position: relative;
    width: 25%;
}
.threeone img{
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.threeone1{
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    position: absolute;
    width: 100%;
}
.three2{
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.three2 h5{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5em;
}
.three2 button{
    background-color: #8dc63f;
    border: none;
    font-size: 14px!important;
    outline: none;
    padding: 10px 30px;
    color: #fff;

    width: 100%;
}

.news-section{
    display: flow-root;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100%;
    padding: 10px;
    margin-top: 40px;

    /* border: 1px solid red; */
}
.news-section-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 10px;

}
.news-section-heading h2{
    justify-content: center;
    color: rgba(0,0,0,.85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}
.news-section-all{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 23px;
}
.news-section-content{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid red; */
    margin-right: 15px;
border-radius: 10px;
    width: 22%;
    /* padding: 5px; */
    flex-direction: column;
    height: 450px;
    flex-wrap: wrap;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 10px;
}
.news-section-img{
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 210px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
    border-radius: 10px;
}
.news-section-img img{
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 206px;
    justify-content: center;
    align-items: center;
}
.news-section-bottom-content{
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    /* border: 1px solid red; */
    padding: 20px;
    flex-direction: column;
    height: 236px;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
}
.news-section-bottom-button{
    display: flex;
    margin-top: 4px;
    justify-content: flex-start;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}
.news-section-bottom-button button{
    background-color: #8dc63f;
    border: none;
    border-radius: 5px!important;
    font-size: 10px!important;
    color: #fff;
    padding:10px
}
.new-section-bottom-text{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.new-section-bottom-text h3{
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}
.news-section-bottom-icon{
    display: flex;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex: auto;
    flex-wrap: wrap;
}
.news-section-bottom-icon button{
    background-color: #fff;
    border-radius: 5px!important;
    color: #000;
    outline: none;
    border: none;
    cursor: pointer!important;
    padding: 10px 25px;
    vertical-align: middle;

}
.blue-section{
    background-image: url(./blue\ ack.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    width: 80%;
    height: 250px;
    text-align: center;
    background-color: #0d6db7;

}
.blue-section-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    height: 58px;
}
.blue-section-heading h1{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1px;
}
.blue-section-conntent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 12px;
    padding: 10px;
}
.blue-section-input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */

}
.blue-section-input-box input{
    border: 1px solid wheat;
    background-color: transparent;
    width: 300px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;

}
.blue-section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    flex-wrap: wrap;
}
.blue-section-button button{
    display: flex;
    outline: none;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    color: #000;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}
@media (max-width: 1156px){
    .mid-2-top2 img{
        height: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    .threeone{
      
        width: 30%;
    }
}

@media (max-width: 1000px){
    .side-img img {
        height: 300px;
    }
    .news-section-content {
        width: 30%;
    }
    .threeone{
     
        width: 35%;
    }
    .heading-mid h1{
        font-size: 30px;
        letter-spacing: 1px;
    }
    .serviesbox{
        width: 24%;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 20px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 15px;
    }
}

@media (max-width: 750px){
    .side-img img {
        height: 250px;
    }
    .blue-section-heading h1 {
        font-size: 25px;
        font-weight: 800;
        color: #fff;
        /* letter-spacing: 1px; */
        line-height: 1px;
    }
    .blue-section-button button {
        display: flex;
        padding: 5px 10px 5px 10px;
        background-color: #fff;
        color: #000;
        font-size: 11px;
        outline: none;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
    }
    .blue-section-input-box input {
        border: 1px solid wheat;
        background-color: transparent;
        width: 200px;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
    }
    .news-section-content {
        margin-top: 12px;
        width: 35%;
    }
    .serviesbox{
        width: 30%;
    }
    .heading-mid h1{
        font-size: 26px;
        letter-spacing: .9px;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 18px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 15px;
    }
    .mid-2-btns button{
        padding: 8px 12px;
    }
    .mid-2-top1{
        /* width: 95%; */
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        background-color: rgba(182,239,73,.2);
        /* border: 1px solid rgb(255, 123, 0); */
        display: flex;
        padding-top: 23px;
        border-radius: 8px;
        padding-bottom: 23px;
    }
    .headingss h1{
        font-size: 20px;
    }
    .headingss h5{
        color: #0d6efd;
        font-size: 15px;
    }
}

@media (max-width: 600px){
    .side-img img {
        height: 200px;
    }
    .blue-section-input-box input {
        border: 1px solid wheat;
        background-color: transparent;
        width: 150px;
        color: #fff;
        border-radius: 5px;
        padding: 3px 6px 3px 6px;
    }
    .blue-section-heading h1 {
        font-size: 20px;
        font-weight: 800;
        color: #fff;
        /* letter-spacing: 1px; */
        line-height: 1px;
    }
    .blue-section-button button {
        display: flex;
        padding: 3px 6px 3px 6px;
        background-color: #fff;
        color: #000;
        outline: none;
        font-size: 11px;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
    }
    .news-section-content {
        margin-top: 12px;
        width: 50%;
    }
    .threeone{
     
        width: 65%;
    }
    .serviesbox{
        width: 55%;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 18px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 15px;
    }
    nav .logo img{
        height: 40px;
    }
}

@media (max-width: 500px){
    .side-img img {
        height: 130px;
    }
    .blue-section-button button {
        display: flex;
        padding: 3px 6px 3px 6px;
        background-color: #fff;
        color: #000;
        font-size: 11px;
        margin-top: 12px;
        outline: none;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
    }
    .blue-section-input-box input {
        border: 1px solid wheat;
        background-color: transparent;
        width: 210px;
        color: #fff;
        border-radius: 5px;
        padding: 3px 6px 3px 6px;
    }
    .blue-section-heading h1 {
        font-size: 15px;
        font-weight: 800;
        color: #fff;
        /* letter-spacing: 1px; */
        line-height: 1px;
    }
    .serviesbox{
        width: 57%;
    }
    .heading-mid h1{
        font-size: 20px;
        letter-spacing: .2px;
    }
    .heading h1 {

        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.3px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .sub-heading h3{
        font-size: 15px;
    }
    .paragraph p {
        color: rgba(0, 0, 0, .85);
        font-size: 12px;
    }
    .mid-2-btns button{
        padding: 4px 6px;
        font-size: 11px;
    }
    .mid-2-top1{
        /* width: 95%; */
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        background-color: rgba(182,239,73,.2);
        /* border: 1px solid rgb(255, 123, 0); */
        display: flex;
        padding-top: 23px;
        border-radius: 8px;
        padding-bottom: 23px;
    }
    .headingss h1{
        font-size: 18px;
    }
    .headingss h5{
        color: #0d6efd;
        font-size: 13px;
    }
    nav .logo img{
        height: 35px;
    }
    .readmore-btn button {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        /* width: 45px; */
        background: none;
        border: 1px solid;
        font-size: 11px;
        border-radius: 8px;
        color: #666;
    }
}

@media (max-width: 1100px) {
    nav {
        padding: 0 10px 0 10px;
    }

}
@media (max-width: 1100px) {
    nav ul li a{

        font-weight: 300;
        margin-right: 6px;
        padding: 4px 8px; 
        letter-spacing: 0.5px;
    }

    
}
@media (max-width: 990px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        /* background: #111; */
        /* height: 100vh; */
        width: 100%;
        /* text-align: center; */
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        color: black;
        /* transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}



/* 
.upcoming_picture_box {
    position: relative;
    width: 100%;
   
}
.upcoming_picture_box img {
    border-top-left-radius: 100px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    height: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
}

.upcoming_picture_box .upcoming_text_box {
    align-items: center;
    background-color: #8dc63f!important;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-left-radius: 60px;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 65px;
    position: absolute;
    top: 0;
    width: 50%;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
.upcoming_picture_box .upcoming_text_box_transparent_1 {
    background-color: initial;
    border-bottom: 1px solid #fff;
    border-top-right-radius: 100px;
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.upcoming_picture_box .upcoming_text_box_transparent_2 {
    background-color: initial;
    border-left: 1px solid #fff;
    bottom: 0;
    height: 50%;
    position: absolute;
    right: 0;
    width: 50%;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
h2.ant-typography {
    color: rgba(0,0,0,.85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0.5em;
}
.upcoming_projects_items div div {
    background-color: #eee;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}
.ant-typography {
    color: rgba(0,0,0,.85);
    overflow-wrap: break-word;
}
h5.ant-typography {
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.upcoming_projects {
    margin-top: 50px;
    padding-bottom: 10px;
}
.ltr {
    direction: ltr!important;
}
.upcoming_projects_items div div img {
    height: 30px;
    object-fit: contain;
    width: 30px;
}
.upcoming_projects_items div div {
    background-color: #eee;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}
.d-flex {
    display: flex!important;
}
.upcoming_projects_heading {
    width: 40%;
}
.services_counter:before {
    background-image: url(/static/media/upcoming_background.a669f19….png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap; 
    margin-left: calc(var(--bs-gutter-x)*-.5); 
     margin-right: calc(var(--bs-gutter-x)*-.5);
     margin-top: calc(var(--bs-gutter-y)*-1);
} */